<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="container">
		<% if user_signed_in? %>
		<li>
			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %> 
			<br />
			<% if current_user.role?(:admin) %>
			<%= link_to('Home', products_path) %> 
			<% else %>
			<%= link_to('Home', store_path) %>
			<% end %>      
		</li>
		<% else %>
		<li>
			<%= link_to('Login', new_user_session_path)  %>  
		</li>
		<% end %>
	</div>
</header>