<html>
<head>
    <style type="text/css">
        .wrap {
            width: 100%;
        }

        .floatleft {
            float:left; 
            width: 40%;
        }

        .floatright {
            float: right;
            width: 60%;
        }
    </style>
</head>
<div class="wrap">
    <div class="floatleft">
       <br />
       <%= link_to 'Available Categories', categories_path %>
       <br />
       <br />
       <%# render 'add_product_details',:cat_list=>@cat_list%>
       <%= link_to 'Add product', new_product_path %>
       <br />
       <%= link_to 'New Category', new_category_path %>
       <br />
       
    </div>
    <div class="floatleft">
       <h1>Listing products</h1>
       <table id="product_list">
        <% @products.each do |product| %>

        <%= render 'index', :product =>product %>
        <% end %>
    </table>  
     </div>      
</div>
<div style="clear:both"></div>
</html>




