<html>
<head>
  <style type="text/css">
    .wrap {
      width: 100%;
    }

    .floatleft {
      float:left; 
      width: 40%;
    }

    .floatright {
      float: right;
      width: 60%;
    }
  </style>
</head>
<div class="wrap">
  <div class="floatleft">
   <span id = "cat_form"><%= render 'form',remote: true%></span>

 </div>
 <div class="floatleft">
   <h2>Listing categories</h2>
   <% if !@categories.nil?%>
   <table id = 'listing'>
   <% @categories.each do |category| %>
     <%= render 'cat_list',:category=> category%>
   <% end %>
   </table>
   <% end %>
 </div>      
</div>
<div style="clear:both"></div>
</html>




